<h1>ブログ作成</h1>
<div class="form-area">
  <%= form_with model: @blog, url: dashboard_blogs_path, local: true do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-text"%>
    <%= f.label :document %>
    <%= f.text_area :document, class: "form-text form-text-area" %>
    <div class="form-submit">
      <%= f.submit "作成" %>
    </div>
  <% end %>
</div>
